views/partials/templates/eligibility.html

<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="sub-text col-md-10 col-md-offset-1">
        <h1>Give Blood</h1>
        <h2>Blood is a vital lifeline to saving and preserving hundreds of lives daily. Less than 2% of the population donates blood.</h2>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <givenav></givenav>
  </div>
  <div class="row page-content">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="title">ELIGIBILITY FOR BLOOD DONATION</h2>
      <div class="introduction">
        <h2>Most people can give blood, but to ensure the safety of blood donors and recipients, all blood donors must match the eligibility criteria.</h2>
      </div>
      <h5>NOTICE</h5>
      <div class="blurb">
        <p>The eligibility criteria for blood donors differs from country to country. Therefore blood donations centres in your country may have a different set of requirements.</p>
      </div>
      <h4>YOU CAN GIVE BLOOD IF YOU:</h4>
      <div class="blurb">
        <ul>
          <li>are between the ages of 18 and 65 and in healthy condition</li>
          <li>weigh more than 110 pounds</li>
          <li>have not had a tattoo or body piercing within the past 12 months</li>
          <li>are not pregnant or nursing</li>
          <li>have no history of jaundice after age 11</li>
        </ul><br/>
        <p>Diabetics are eligible if they are controlled by diet or oral medications, no insulin</p>
        <p>Persons with hypertension are eligible as long as their blood pressure is within a reasonable reading at the time of donation</p>
      </div>
    </div>
  </div>
</section>

views/partials/givingblood/eligibility.jade
section.sub-header
      .container
        .row
          .sub-text.col-md-10.col-md-offset-1
            h1 Give Blood
            h2 Blood is a vital lifeline to saving and preserving hundreds of lives daily. Less than 2% of the population donates blood.

section.container
  .row
    givenav

  .row.page-content
    .col-md-10.col-md-offset-1
          h2.title ELIGIBILITY FOR BLOOD DONATION
          .introduction
            h2
              | Most people can give blood, but to ensure the safety of blood donors and recipients, all blood donors must match the eligibility criteria.

          h5 NOTICE
          .blurb
            p The eligibility criteria for blood donors differs from country to country. Therefore blood donations centres in your country may have a different set of requirements.
            
                
          h4 YOU CAN GIVE BLOOD IF YOU:
          .blurb
            ul
              li are between the ages of 18 and 65 and in healthy condition
              li weigh more than 110 pounds
              li have not had a tattoo or body piercing within the past 12 months
              li are not pregnant or nursing
              li have no history of jaundice after age 11
            br
            p Diabetics are eligible if they are controlled by diet or oral medications, no insulin
            p Persons with hypertension are eligible as long as their blood pressure is within a reasonable reading at the time of donation
