views/partials/templates/home.html

<div class="hero-header">
  <div class="container">
    <div class="hero-section">
      <h1>Give the gift of life!</h1>
      <p>Someone needs your help today. We can save lives, one donation at a time.</p>
      <p><a href="/savealife" class="herobtn">How To Save A Life?</a>
        <!--a.herobtn(href='http://my.reddonor.com') COMING SOON-->
      </p>
    </div>
  </div>
</div>
<section class="container introduction">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Red Donor is a social enterprise devoted to increasing the capacity of a safe and constant supply of blood for every member of the community.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"><img src="assets/images/bloodcrisis-md.jpg" alt="Help Save A life" title="&copy; Photo credit: Jason Hargrove - flickr.com/photos/salty_soul/4165610216" class="img-rounded img-responsive hidden-sm hidden-xs"/><img src="assets/images/bloodcrisis-sm.jpg" alt="Help Save A life" title="&copy; Photo credit: Jason Hargrove - flickr.com/photos/salty_soul/4165610216" class="img-rounded img-responsive visible-sm visible-xs"/>
      <h4><a href="/giveblood">Help Save A Life</a></h4>
      <p>Donate blood and help save the life of someone in your community. 1 donation of blood can save up to 3 lives.</p>
    </div>
    <div class="col-md-4"><img src="assets/images/helpotherblood-md.jpg" alt="Start A Blood Drive" title="&copy; Photo credit: thirteenofclubs - flickr.com/photos/thirteenofclubs/4216252051" class="img-rounded img-responsive hidden-sm hidden-xs"/><img src="assets/images/helpotherblood-sm.jpg" alt="Start A Blood Drive" title="&copy; Photo credit: makelessnoise - flickr.com/photos/thirteenofclubs/4216252051" class="img-rounded img-responsive visible-sm visible-xs"/>
      <h4><a href="/howitworks">How To Start A Blood Drive</a></h4>
      <p>Join to movement to encourage more people, organisations and business to donate for a worthy cause.</p>
    </div>
    <div class="col-md-4"><img src="assets/images/youeligible-md.jpg" alt="Learn About Blood" title="&copy; Photo credit: European Parliament - flickr.com/photos/european_parliament/5933370325" class="img-rounded img-responsive hidden-sm hidden-xs"/><img src="assets/images/youeligible-sm.jpg" alt="Learn About Blood" title="&copy; Photo credit: European Parliament - flickr.com/photos/european_parliament/5933370325" class="img-rounded img-responsive visible-sm visible-xs"/>
      <h4><a href="/aboutblood">Learn about Blood</a></h4>
      <p>1 in 3 people will need blood in their lifetime and less than 2% of the eligible donors in the community donate blood.</p>
    </div>
  </div>
</section>
<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="sub-text col-md-10 col-md-offset-1">
        <h2>Every day hundreds of people are in need of blood. Pledge to donate. You can help save a life.</h2>
        <div class="col-sm-6"><a href="/aboutblood" class="regbtn">Learn About Blood Donation </a></div>
        <div class="col-sm-6"><a href="http://my.reddonor.com/create" class="regbtn">Start a Blood Drive</a></div>
      </div>
    </div>
  </div>
</section>

views/partials/home.jade
.hero-header
  .container
    .hero-section
      h1 Give the gift of life!
      p Someone needs your help today. We can save lives, one donation at a time.
      p
        a.herobtn(href='/savealife') How To Save A Life?
        //a.herobtn(href='http://my.reddonor.com') COMING SOON
section.container.introduction
  .row
    .col-md-10.col-md-offset-1
      h2
        | Red Donor is a social enterprise devoted to increasing the capacity of a safe and constant supply of blood for every member of the community.
  .row
    .col-md-4
      img.img-rounded.img-responsive.hidden-sm.hidden-xs(src='assets/images/bloodcrisis-md.jpg', alt='Help Save A life', title='&copy; Photo credit: Jason Hargrove - flickr.com/photos/salty_soul/4165610216')
      img.img-rounded.img-responsive.visible-sm.visible-xs(src='assets/images/bloodcrisis-sm.jpg', alt='Help Save A life', title='&copy; Photo credit: Jason Hargrove - flickr.com/photos/salty_soul/4165610216')
      h4: a(href="/giveblood") Help Save A Life
      p
        | Donate blood and help save the life of someone in your community. 1 donation of blood can save up to 3 lives.
    .col-md-4
      img.img-rounded.img-responsive.hidden-sm.hidden-xs(src='assets/images/helpotherblood-md.jpg', alt='Start A Blood Drive', title='&copy; Photo credit: thirteenofclubs - flickr.com/photos/thirteenofclubs/4216252051')
      img.img-rounded.img-responsive.visible-sm.visible-xs(src='assets/images/helpotherblood-sm.jpg', alt='Start A Blood Drive', title='&copy; Photo credit: makelessnoise - flickr.com/photos/thirteenofclubs/4216252051')
      h4: a(href="/howitworks") How To Start A Blood Drive
      p
        | Join to movement to encourage more people, organisations and business to donate for a worthy cause.
    .col-md-4
      img.img-rounded.img-responsive.hidden-sm.hidden-xs(src='assets/images/youeligible-md.jpg', alt='Learn About Blood',  title='&copy; Photo credit: European Parliament - flickr.com/photos/european_parliament/5933370325')
      img.img-rounded.img-responsive.visible-sm.visible-xs(src='assets/images/youeligible-sm.jpg', alt='Learn About Blood', title='&copy; Photo credit: European Parliament - flickr.com/photos/european_parliament/5933370325')
      h4: a(href="/aboutblood") Learn about Blood
      p
        | 1 in 3 people will need blood in their lifetime and less than 2% of the eligible donors in the community donate blood.
section.sub-header
      .container
        .row
          .sub-text.col-md-10.col-md-offset-1
            h2
              | Every day hundreds of people are in need of blood. Pledge to donate. You can help save a life.
            .col-sm-6
              a.regbtn(href='/aboutblood') Learn About Blood Donation 
            .col-sm-6
              a.regbtn(href='http://my.reddonor.com/create') Start a Blood Drive
   
