views/partials/templates/aboutblood-nav.html

<div class="col-md-10 col-md-offset-1">
  <div class="submenu hidden-xs">
    <ul>
      <li><a href="/aboutblood/bloodtypes">Blood Types</a></li><i class="fa fa-heart"></i>
      <li><a href="/aboutblood/safety">Blood Safety</a></li><i class="fa fa-heart"></i>
      <li><a href="/aboutblood/uses">Uses of Blood</a></li><i class="fa fa-heart"></i>
      <li><a href="/aboutblood/faqs">FAQs</a></li>
    </ul>
  </div>
  <div class="submenu-small visible-xs">
    <ul>
      <li><a href="/aboutblood/bloodtypes">Blood Types</a></li>
      <li><a href="/aboutblood/safety">Blood Safety</a></li>
      <li><a href="/aboutblood/uses">Uses of Blood</a></li>
      <li><a href="/aboutblood/faqs">FAQs</a></li>
    </ul>
  </div>
</div>

views/partials/menus/aboutblood-nav.jade
.col-md-10.col-md-offset-1
	.submenu.hidden-xs
		ul
			li: a(href="/aboutblood/bloodtypes") Blood Types
			i.fa.fa-heart
			li: a(href="/aboutblood/safety") Blood Safety
			i.fa.fa-heart
			li: a(href='/aboutblood/uses') Uses of Blood
			i.fa.fa-heart
			li: a(href='/aboutblood/faqs') FAQs
	.submenu-small.visible-xs
		ul
			li: a(href='/aboutblood/bloodtypes') Blood Types
			li: a(href='/aboutblood/safety') Blood Safety
			li: a(href='/aboutblood/uses') Uses of Blood
			li: a(href='/aboutblood/faqs') FAQs
