views/partials/templates/giveblood-nav.html

<div class="col-md-10 col-md-offset-1">
  <div class="submenu hidden-xs">
    <ul>
      <li><a href="/giveblood/whydonate">Why Donate</a></li><i class="fa fa-heart"></i>
      <li><a href="/giveblood/eligibility">Eligibility</a></li><i class="fa fa-heart"></i>
      <li><a href="/giveblood/procedure">Donation Procedure</a></li><i class="fa fa-heart"></i>
      <li><a href="/giveblood/tips">Tips</a></li>
    </ul>
  </div>
  <div class="submenu-small visible-xs">
    <ul>
      <li><a href="/giveblood/whydonate">Why Donate</a></li>
      <li><a href="/giveblood/eligibility">Eligibility</a></li>
      <li><a href="/giveblood/procedure">The Procedure</a></li>
      <li><a href="/giveblood/tips">Tips</a></li>
    </ul>
  </div>
</div>

views/partials/menus/giveblood-nav.jade
.col-md-10.col-md-offset-1
	.submenu.hidden-xs
		ul
			li: a(href="/giveblood/whydonate") Why Donate
			i.fa.fa-heart
			li: a(href="/giveblood/eligibility") Eligibility
			i.fa.fa-heart
			li: a(href='/giveblood/procedure') Donation Procedure
			i.fa.fa-heart
			li: a(href='/giveblood/tips') Tips
	.submenu-small.visible-xs
		ul
			li: a(href='/giveblood/whydonate') Why Donate
			li: a(href='/giveblood/eligibility') Eligibility
			li: a(href='/giveblood/procedure') The Procedure
			li: a(href='/giveblood/tips') Tips
