views/index.jade
!!! 5
html(lang="en", data-ng-app="reddonor")
  head
    //title Red Donor
    title(data-ng-bind="page.title", ng-cloak, class="ng-cloak") Red Donor
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='title', content='Red Donor: Connecting Those Who Need Blood To Blood Donors In Your Community')
    meta(name='description', content='Red Donor makes it easier for those who need blood to connect with blood donors in their community.')
    meta(name='keywords', content='Blood Donations, Blood Donors, Caribbean Blood Donation, Caribbean Blood Donation Centres')
    meta(property='og:title', content='Red Donor: Connecting Those Who Need Blood To Blood Donors In Your Community')
    meta(property='og:description', content='Red Donor makes it easier for those who need blood to connect with blood donors in their community.')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://www.reddonor.com')
    meta(property='og:site_name', content='Red Donor')
    // Bootstrap 
    //link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    // Included CSS Files
    link(href='/styles/styles.min.css', rel='stylesheet', media='screen')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //if lt IE 9
      script(src='/vendor/bootstrap/assets/js/html5shiv.js')
      script(src='/vendor/bootstrap/assets/js/respond.min.js')
    //
       Included Web Fonts
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,600')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Varela+Round')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Dosis:500')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Arvo:400,700')
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    link(rel='shortcut icon', href='/assets/images/favicon.ico')

    script(type="text/javascript").
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37326435-1']);
      _gaq.push(['_setDomainName', 'reddonor.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    #fb-root
    script(type="text/javascript").
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=222723707782303";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    //#wrap
    // Fixed Navigation Bar ================================================== 
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              img(src='/assets/images/red-donor-logo.png')
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              //li: a(href='/donate') Donate
              li: a(href='/aboutblood') About Blood
              li: a(href='/giveblood') Giving Blood
              li: a(href='/about') About Us
              li: a(href='http://my.reddonor.com').menubtn My Red Donor 
   
    // Main Content
    div(ng-view)

     //
       Footer (Sticky) ================================================== 
    #footer
      .container.footer
        .row
          .col-sm-3.footer-info
            a(href='/')
              img(src='/assets/images/red-donor-logo.png')
            p
              | Red Donor is focused on increasing the amount of blood available to communities for medical treatment and disaster relief.
          .col-sm-2.col-xs-4
            h4 About Us
            ul
              li
                a(href='/about') Our Story
              li
                a(href='/howitworks') How It Works
              //li
                a(href='/partners') Partners
              //li
                a(href='/advertise') Advertising          
          .col-sm-2.col-xs-4
            h4 Get Invovled
            ul
              //li
                a(href='/donate') Donate
              li
                a(href='/faqs') FAQs
              li
                a(href='/contact') Contact
          .col-sm-2.col-xs-4
            h4 Connect
            ul
              li
                a(href='http://blog.reddonor.com', target="_blank") News
              li
                a(href='https://www.facebook.com/RedDonor', target="_blank") Facebook
              li
                a(href='https://twitter.com/reddonor', target="_blank") Twitter
          .col-sm-3.hidden-xs
            #likebox-frame
              .fb-like-box(data-href='https://www.facebook.com/RedDonor', data-width='292', data-colorscheme='dark', data-show-faces='true', data-header='false', data-stream='false', data-show-border='false')
    .footer-bottom
      .container
        .row
          ul
            li
              a(href='/')
                | © 2013 
                span Red Donor
            li
              a(href='/termsofuse') Terms of Use
            li
              a(href='/privacy') Privacy Policy  

    // jQuery (necessary for Bootstrap's JavaScript plugins) 
    script(src='//code.jquery.com/jquery.js').
    // AngularJs
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js').

    script(src='/assets/js/app.min.js').

    // Include all compiled plugins (below), or include individual files as needed 
    //script(src='vendor/bootstrap/js/bootstrap.min.js')
    //script(src='vendor/holder/holder.min.js')

views/partials/templates/index.html
<!DOCTYPE html>
<html lang="en" data-ng-app="reddonor">
  <head>
    <!--title Red Donor-->
    <title data-ng-bind="page.title" ng-cloak class="ng-cloak">Red Donor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Red Donor: Connecting Those Who Need Blood To Blood Donors In Your Community">
    <meta name="description" content="Red Donor makes it easier for those who need blood to connect with blood donors in their community.">
    <meta name="keywords" content="Blood Donations, Blood Donors, Caribbean Blood Donation, Caribbean Blood Donation Centres">
    <meta property="og:title" content="Red Donor: Connecting Those Who Need Blood To Blood Donors In Your Community">
    <meta property="og:description" content="Red Donor makes it easier for those who need blood to connect with blood donors in their community.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.reddonor.com">
    <meta property="og:site_name" content="Red Donor">
    <!-- Bootstrap -->
    <!--link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')-->
    <!-- Included CSS Files-->
    <link href="/styles/styles.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries --><!--[if lt IE 9]>
    <script src="/vendor/bootstrap/assets/js/html5shiv.js"></script>
    <script src="/vendor/bootstrap/assets/js/respond.min.js"></script><![endif]--><!--
    <Included>Web Fonts</Included>-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dosis:500">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arvo:400,700">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37326435-1']);
      _gaq.push(['_setDomainName', 'reddonor.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    </script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=222723707782303";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
    </script>
    <!--#wrap-->
    <!-- Fixed Navigation Bar ================================================== -->
    <div role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><img src="/assets/images/red-donor-logo.png"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--li: a(href='/donate') Donate-->
            <li><a href="/aboutblood">About Blood</a></li>
            <li><a href="/giveblood">Giving Blood</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="http://my.reddonor.com" class="menubtn">Login / Signup</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Main Content-->
    <div ng-view><!--
      <Footer>(Sticky) ================================================== </Footer>-->
    </div>
    <div id="footer">
      <div class="container footer">
        <div class="row">
          <div class="col-sm-3 footer-info"><a href="/"><img src="/assets/images/red-donor-logo.png"></a>
            <p>Red Donor is focused on increasing the amount of blood available to communities for medical treatment and disaster relief.</p>
          </div>
          <div class="col-sm-2 col-xs-4">
            <h4>About Us</h4>
            <ul>
              <li><a href="/about">Our Story</a></li>
              <li><a href="/howitworks">How It Works</a></li><!--li<a href="/partners">Partners</a>--><!--li<a href="/advertise">Advertising          </a>-->
            </ul>
          </div>
          <div class="col-sm-2 col-xs-4">
            <h4>Get Invovled</h4>
            <ul><!--li<a href="/donate">Donate</a>-->
              <li><a href="/faqs">FAQs</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-sm-2 col-xs-4">
            <h4>Connect</h4>
            <ul>
              <li><a href="http://blog.reddonor.com" target="_blank">News</a></li>
              <li><a href="https://www.facebook.com/RedDonor" target="_blank">Facebook</a></li>
              <li><a href="https://twitter.com/reddonor" target="_blank">Twitter</a></li>
            </ul>
          </div>
          <div class="col-sm-3 hidden-xs">
            <div id="likebox-frame">
              <div data-href="https://www.facebook.com/RedDonor" data-width="292" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false" class="fb-like-box"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <ul>
            <li><a href="/">© 2013 <span>Red Donor</span></a></li>
            <li><a href="/termsofuse">Terms of Use</a></li>
            <li><a href="/privacy">Privacy Policy  </a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- AngularJs-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--script(src='vendor/bootstrap/js/bootstrap.min.js')-->
    <!--script(src='vendor/holder/holder.min.js')-->
  </body>
</html>
