views/partials/templates/aboutus.html

<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="sub-text col-md-10 col-md-offset-1">
        <h1>About Us</h1>
        <h2>Red Donor is a social enterprise devoted to increasing the capacity of a safe and constant supply of blood for every member of the community.</h2>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row page-content">
    <div class="col-md-10 col-md-offset-1">
      <h4>Our Story</h4>
      <p>Samora Reid has always been passionate about two things - technology and how information helps us understand how things work. These two passions have joined with his experiences with blood donation to create a movement for a better world.</p>
      <p>In 2006, he went to donate blood for the first time for his late grandfather. Like most people, after the task was done he returned to his regular routine without giving it a second thought. Within the following years, Samora would be exposed to the frightening experience of the importance of blood in saving the life of the father of a friend.</p>
      <p>Months later, he realised many families must go through that same experience, wondering if there is enough blood to save the life of their loved ones. In September of 2012, Samora started building a web application to connect blood donors to those who needed the vital commodity. Inspired by the culture of the Caribbean that idea grew into the founding of Red Donor. An organisation aimed at utilising the close-knit community spirit of the Caribbean infused with innovative technological and creative solutions to encourage more people to donate blood.</p>
      <p>Red Donor's approach to achieving this goal is by observing the behaviours and trends within the community and analysing that data to create more altrustic donor communities within the region.</p><br/>
      <h4>Our Team</h4>
      <div style="text-align: center;" class="row">
        <div class="col-md-6"><img src="http://org.reddonor.com/wp-content/themes/Red_Donor_BWP/img/samorareid.png" alt="image"/>
          <h4>Samora Reid</h4>
          <h5>Founder</h5>
          <p>Samora is a freelance web developer. His experiences include building websites for several industries. Red Donor is his first foray into the world of social entrepreneurship and changing the world through technology.</p>
          <p>In his spare time he can be found listening to music or playing videogames with a cup of coffee nearby.</p>
        </div>
        <div class="col-md-6"> <img src="http://org.reddonor.com/wp-content/themes/Red_Donor_BWP/img/joshuaclarke.png" alt="image"/>
          <h4>Joshua Clarke</h4>
          <h5>Creative Director</h5>
          <p>Joshua Clarke was always found with a pencil in hand doodling on some artwork. In his final year of a Graphic Design Bsc and a regular exhibitor at AnimeKon. Joshua uses non-traditional artistic inspiration to fuel his advertising design strategies.</p>
        </div>
      </div>
    </div>
  </div>
</section>

views/partials/misc/aboutus.jade
section.sub-header
	.container
		.row
			.sub-text.col-md-10.col-md-offset-1
				h1 About Us
				h2 Red Donor is a social enterprise devoted to increasing the capacity of a safe and constant supply of blood for every member of the community.

section.container
	.row.page-content
		.col-md-10.col-md-offset-1
			h4 Our Story
			p Samora Reid has always been passionate about two things - technology and how information helps us understand how things work. These two passions have joined with his experiences with blood donation to create a movement for a better world.
			p In 2006, he went to donate blood for the first time for his late grandfather. Like most people, after the task was done he returned to his regular routine without giving it a second thought. Within the following years, Samora would be exposed to the frightening experience of the importance of blood in saving the life of the father of a friend.
			p Months later, he realised many families must go through that same experience, wondering if there is enough blood to save the life of their loved ones. In September of 2012, Samora started building a web application to connect blood donors to those who needed the vital commodity. Inspired by the culture of the Caribbean that idea grew into the founding of Red Donor. An organisation aimed at utilising the close-knit community spirit of the Caribbean infused with innovative technological and creative solutions to encourage more people to donate blood.
			p Red Donor's approach to achieving this goal is by observing the behaviours and trends within the community and analysing that data to create more altrustic donor communities within the region.
			br		
			h4 Our Team
			.row(style='text-align: center;')
				.col-md-6
					img(src='http://org.reddonor.com/wp-content/themes/Red_Donor_BWP/img/samorareid.png', alt='image')
					h4 Samora Reid
					h5 Founder
					p Samora is a freelance web developer. His experiences include building websites for several industries. Red Donor is his first foray into the world of social entrepreneurship and changing the world through technology.
					p In his spare time he can be found listening to music or playing videogames with a cup of coffee nearby.
				.col-md-6 
					img(src='http://org.reddonor.com/wp-content/themes/Red_Donor_BWP/img/joshuaclarke.png', alt='image')
					h4 Joshua Clarke
					h5 Creative Director
					p Joshua Clarke was always found with a pencil in hand doodling on some artwork. In his final year of a Graphic Design Bsc and a regular exhibitor at AnimeKon. Joshua uses non-traditional artistic inspiration to fuel his advertising design strategies.
