views/partials/misc/terms.jade
section.sub-header
			.container
				.row
					.sub-text.col-md-10.col-md-offset-1
						h1 Terms and Conditions of Use

section.container
	.row.page-content
		.col-md-10.col-md-offset-1
				h4 1. Terms
				p These terms and conditions govern your use of this website; by using this website, you accept these 
					terms and conditions in full and without reservation. If you disagree with these terms and conditions or 
					any part of these terms and conditions, you must not use this website.
				h4 2. Use License
				p Unless otherwise stated, Red Donor owns the intellectual property rights published on this website and materials used on Red Donor. Subject to the license below, all these intellectual property rights are reserved.
				p You may view, download for caching purposes only, and print pages, files or other content from the website for your own personal use, 
					subject to the restrictions set out below and elsewhere in these terms and conditions.
				p You must not: 
				ul
					li republish material from this website in neither print nor digital media or documents (including republication on another website);
					li sell, rent or sub-license material from the website;
					li show any material from the website in public;
					li reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;
					li edit or otherwise modify any material on the website;
					li redistribute material from this website - except for content specifically and expressly made available for redistribution; or
					li republish or reproduce any part of this website through the use of iframes or screenscrapers.
				p Where content is specifically made available for redistribution, it may only be redistributed within your organisation.
				h4 3. Acceptable Use
				p You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability 
					| or accessibility of Red Donor or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
				p You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, 
					| worm, keystroke logger, rootkit or other malicious computer software.
				p You must not conduct any systematic or automated data collection activities on or in relation to this website without Red Donor’s express written consent.
				p This includes:
				ul
					li scraping
					li data mining
					li data extraction
					li data harvesting
					li 'framing' (iframes)
				p You must not use this website or any part of it to transmit or send unsolicited commercial communications.
				p You must not use this website for any purposes related to marketing without the express written consent of Red Donor.com.
				h4 4. Restricted Access
				p Access to certain areas of this website is restricted. www.reddonor.com reserves the right to restrict access to certain areas of this website, 
					| or at our discretion, this entire website. www.reddonor.com may change or modify this policy without notice.
				p If www.reddonor.com provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the 
					| user ID and password are kept confidential. You alone are responsible for your password and user ID security.
				p Red Donor.com may disable your user ID and password at www.reddonor.com's sole discretion without notice or explanation.
				h4 5. User Content
				p In these terms and conditions, “your user content” means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to this website, for whatever purpose.
				p You grant to Red Donor a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media. You also grant to Red Donor the right to sub-license these rights, and the right to bring an action for infringement of these rights.
				p Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or Red Donor or a third party (in each case under any applicable law).
				p You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.
				p Red Donor reserves the right to edit or remove any material submitted to this website, or stored on the servers of Red Donor, or hosted or published upon this website.
				p Red Donor's rights under these terms and conditions in relation to user content, Red Donor does not undertake to monitor the submission of such content to, or the publication of such content on, this website.
				h4 6. No Warranties
				p This website is provided “as is” without any representations or warranties, express or implied. www.reddonor.com makes no representations or warranties in relation to this website or the information and materials provided on this website.
				p Without prejudice to the generality of the foregoing paragraph, Red Donor does not warrant that:
				ul 
					li this website will be constantly available, or available at all; or
					li the information on this website is complete, true, accurate or non-misleading.
				p Nothing on this website constitutes, or is meant to constitute, advice of any kind. If you require advice in relation to any legal, financial or medical matter you should consult an appropriate professional.
				h4 7. Limitations of Liability
				p Red Donor will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:
				ul 
					li to the extent that the website is provided free-of-charge, for any direct loss;
					li for any indirect, special or consequential loss; or
					li for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.
				p These limitations of liability apply even if Red Donor has been expressly advised of the potential loss.
				h4 8. Indemnity
				p You hereby indemnify Red Donor and undertake to keep Red Donor indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by www.reddonor.com to a third party in settlement of a claim or dispute on the advice of Red Donor‘s legal advisers) incurred or suffered by Red Donor arising out of any breach by you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.
				h4 9.	Breaches of these terms and conditions
				p Without prejudice to Red Donor's other rights under these terms and conditions, if you breach these terms and conditions in any way, www.reddonor.com may take such action as www.reddonor.com deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.
				h4 10.	Variation
				p Red Donor may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website. Please check this page regularly to ensure you are familiar with the current version.
				h4 11.	Entire agreement
				p These terms and conditions, together with Red Donor‘s Privacy Policy constitute the entire agreement between you and Red Donor in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.

				p This document was last updated on December 08, 2012

views/partials/templates/terms.html

<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="sub-text col-md-10 col-md-offset-1">
        <h1>Terms and Conditions of Use</h1>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row page-content">
    <div class="col-md-10 col-md-offset-1">
      <h4>1. Terms</h4>
      <p>These terms and conditions govern your use of this website; by using this website, you accept these 
        <terms>and conditions in full and without reservation. If you disagree with these terms and conditions or </terms>
        <any>part of these terms and conditions, you must not use this website.</any>
      </p>
      <h4>2. Use License</h4>
      <p>Unless otherwise stated, Red Donor owns the intellectual property rights published on this website and materials used on Red Donor. Subject to the license below, all these intellectual property rights are reserved.</p>
      <p>You may view, download for caching purposes only, and print pages, files or other content from the website for your own personal use, 
        <subject>to the restrictions set out below and elsewhere in these terms and conditions.</subject>
      </p>
      <p>You must not: </p>
      <ul>
        <li>republish material from this website in neither print nor digital media or documents (including republication on another website);</li>
        <li>sell, rent or sub-license material from the website;</li>
        <li>show any material from the website in public;</li>
        <li>reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;</li>
        <li>edit or otherwise modify any material on the website;</li>
        <li>redistribute material from this website - except for content specifically and expressly made available for redistribution; or</li>
        <li>republish or reproduce any part of this website through the use of iframes or screenscrapers.</li>
      </ul>
      <p>Where content is specifically made available for redistribution, it may only be redistributed within your organisation.</p>
      <h4>3. Acceptable Use</h4>
      <p>
        You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability 
        or accessibility of Red Donor or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
      </p>
      <p>
        You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, 
        worm, keystroke logger, rootkit or other malicious computer software.
      </p>
      <p>You must not conduct any systematic or automated data collection activities on or in relation to this website without Red Donor’s express written consent.</p>
      <p>This includes:</p>
      <ul>
        <li>scraping</li>
        <li>data mining</li>
        <li>data extraction</li>
        <li>data harvesting</li>
        <li>'framing' (iframes)</li>
      </ul>
      <p>You must not use this website or any part of it to transmit or send unsolicited commercial communications.</p>
      <p>You must not use this website for any purposes related to marketing without the express written consent of Red Donor.com.</p>
      <h4>4. Restricted Access</h4>
      <p>
        Access to certain areas of this website is restricted. www.reddonor.com reserves the right to restrict access to certain areas of this website, 
        or at our discretion, this entire website. www.reddonor.com may change or modify this policy without notice.
      </p>
      <p>
        If www.reddonor.com provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the 
        user ID and password are kept confidential. You alone are responsible for your password and user ID security.
      </p>
      <p>Red Donor.com may disable your user ID and password at www.reddonor.com's sole discretion without notice or explanation.</p>
      <h4>5. User Content</h4>
      <p>In these terms and conditions, “your user content” means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to this website, for whatever purpose.</p>
      <p>You grant to Red Donor a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media. You also grant to Red Donor the right to sub-license these rights, and the right to bring an action for infringement of these rights.</p>
      <p>Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or Red Donor or a third party (in each case under any applicable law).</p>
      <p>You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</p>
      <p>Red Donor reserves the right to edit or remove any material submitted to this website, or stored on the servers of Red Donor, or hosted or published upon this website.</p>
      <p>Red Donor's rights under these terms and conditions in relation to user content, Red Donor does not undertake to monitor the submission of such content to, or the publication of such content on, this website.</p>
      <h4>6. No Warranties</h4>
      <p>This website is provided “as is” without any representations or warranties, express or implied. www.reddonor.com makes no representations or warranties in relation to this website or the information and materials provided on this website.</p>
      <p>Without prejudice to the generality of the foregoing paragraph, Red Donor does not warrant that:</p>
      <ul> 
        <li>this website will be constantly available, or available at all; or</li>
        <li>the information on this website is complete, true, accurate or non-misleading.</li>
      </ul>
      <p>Nothing on this website constitutes, or is meant to constitute, advice of any kind. If you require advice in relation to any legal, financial or medical matter you should consult an appropriate professional.</p>
      <h4>7. Limitations of Liability</h4>
      <p>Red Donor will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>
      <ul> 
        <li>to the extent that the website is provided free-of-charge, for any direct loss;</li>
        <li>for any indirect, special or consequential loss; or</li>
        <li>for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</li>
      </ul>
      <p>These limitations of liability apply even if Red Donor has been expressly advised of the potential loss.</p>
      <h4>8. Indemnity</h4>
      <p>You hereby indemnify Red Donor and undertake to keep Red Donor indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by www.reddonor.com to a third party in settlement of a claim or dispute on the advice of Red Donor‘s legal advisers) incurred or suffered by Red Donor arising out of any breach by you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.</p>
      <h4>9.	Breaches of these terms and conditions</h4>
      <p>Without prejudice to Red Donor's other rights under these terms and conditions, if you breach these terms and conditions in any way, www.reddonor.com may take such action as www.reddonor.com deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.</p>
      <h4>10.	Variation</h4>
      <p>Red Donor may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website. Please check this page regularly to ensure you are familiar with the current version.</p>
      <h4>11.	Entire agreement</h4>
      <p>These terms and conditions, together with Red Donor‘s Privacy Policy constitute the entire agreement between you and Red Donor in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</p>
      <p>This document was last updated on December 08, 2012</p>
    </div>
  </div>
</section>
