views/partials/aboutblood/about-blood.jade
section.sub-header
      .container
        .row
          .sub-text.col-md-10.col-md-offset-1
            h1 About Blood
            h2 Blood is the fluid that transports oxygen and nutrients around the body. An average adult has just under 5 litres of blood circulating around their body.

section.container
  .row
    aboutnav

  .row.page-content
    .col-md-10.col-md-offset-1
          h2.title  Blood Types
          .introduction
            h2
              | Knowing your blood type is important. When there is a critical need for a specific blood type you can be ready to answer the call.
          //img.img-responsive(src="/assets/images/gallery/blood-types.jpg").thumbnail.pull-right
          h4 THE MAIN BLOOD GROUPS
          .blurb
            p Blood consists of many major group systems, but the most important system in blood donation is the ABO Blood Group System. This system consists of:

            p Group O – has neither A nor B antigens on red cells
            p Group A – has only the A antigen on red cells
            p Group B – has only the B antigen on red cells
            p Group AB – has both A and B antigens on red cells
            p Each blood group is also classified by either a Rh factor of Rh negative (-) or Rh positive. (+)

          h4 BLOOD RECIPIENTS & DONORS
          .blurb
            p Blood Type O- can donate to anyone. It is the Universal Donor.
            p Blood Type O+ can donate to O+, A+, B+ and AB+.
            p Blood Type A+ can donate to A+ and AB+.
            p Blood Type A- can donate to A+, A-, AB+ and AB-.
            p Blood Type B+ can donate to B+ and AB+.
            p Blood Type B- can donate to B+, B-, AB+ and AB-.
            p Blood Type AB+ can donate to AB+, but can receive from anyone. It is the Universal Recipient.
            p Blood Type AB- can donate to AB+ and AB-.

          h4 BLOOD GROUP INHERITANCE
          .blurb
            p Blood groups are inherited from your parents. The four blood groups, O, A, B and AB are controlled by the A, B and O genes. The A and B genes are dominant and group O is dependent on the inheritance of an O gene from each parent.
            p The inheritance of the Rhesus D (Rh D)gene from either or both parents results in the Rh D positive blood group “expression”. The absence of the Rh D gene results in the expression of the Rh D negative blood group.
     

views/partials/templates/about-blood.html

<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="sub-text col-md-10 col-md-offset-1">
        <h1>About Blood</h1>
        <h2>Blood is the fluid that transports oxygen and nutrients around the body. An average adult has just under 5 litres of blood circulating around their body.</h2>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <aboutnav></aboutnav>
  </div>
  <div class="row page-content">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="title"> Blood Types</h2>
      <div class="introduction">
        <h2>Knowing your blood type is important. When there is a critical need for a specific blood type you can be ready to answer the call.</h2>
      </div>
      <!--img.img-responsive(src="/assets/images/gallery/blood-types.jpg").thumbnail.pull-right-->
      <h4>THE MAIN BLOOD GROUPS</h4>
      <div class="blurb">
        <p>Blood consists of many major group systems, but the most important system in blood donation is the ABO Blood Group System. This system consists of:</p>
        <p>Group O – has neither A nor B antigens on red cells</p>
        <p>Group A – has only the A antigen on red cells</p>
        <p>Group B – has only the B antigen on red cells</p>
        <p>Group AB – has both A and B antigens on red cells</p>
        <p>Each blood group is also classified by either a Rh factor of Rh negative (-) or Rh positive. (+)</p>
      </div>
      <h4>BLOOD RECIPIENTS & DONORS</h4>
      <div class="blurb">
        <p>Blood Type O- can donate to anyone. It is the Universal Donor.</p>
        <p>Blood Type O+ can donate to O+, A+, B+ and AB+.</p>
        <p>Blood Type A+ can donate to A+ and AB+.</p>
        <p>Blood Type A- can donate to A+, A-, AB+ and AB-.</p>
        <p>Blood Type B+ can donate to B+ and AB+.</p>
        <p>Blood Type B- can donate to B+, B-, AB+ and AB-.</p>
        <p>Blood Type AB+ can donate to AB+, but can receive from anyone. It is the Universal Recipient.</p>
        <p>Blood Type AB- can donate to AB+ and AB-.</p>
      </div>
      <h4>BLOOD GROUP INHERITANCE</h4>
      <div class="blurb">
        <p>Blood groups are inherited from your parents. The four blood groups, O, A, B and AB are controlled by the A, B and O genes. The A and B genes are dominant and group O is dependent on the inheritance of an O gene from each parent.</p>
        <p>The inheritance of the Rhesus D (Rh D)gene from either or both parents results in the Rh D positive blood group “expression”. The absence of the Rh D gene results in the expression of the Rh D negative blood group.</p>
      </div>
    </div>
  </div>
</section>
