views/partials/templates/blood-uses.html

<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="sub-text col-md-10 col-md-offset-1">
        <h1>About Blood</h1>
        <h2>Blood is the fluid that transports oxygen and nutrients around the body. An average adult has just under 5 litres of blood circulating around their body.</h2>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <aboutnav></aboutnav>
  </div>
  <div class="row page-content">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="title">Uses of Blood</h2>
      <div class="introduction">
        <h2>Blood collected is not just used for emergency operations or accident victims. Many patients could not survive without blood transfusions.</h2>
      </div>
      <h4>HOW DONATED BLOOD IS USED</h4>
      <div class="blurb">
        <p>The blood collected is separated into its 3 main components:</p>
        <p>Red Cells</p>
        <p>Plasma</p>
        <p>Platelets</p>
      </div>
      <h4>RED CELLS</h4>
      <div class="blurb">
        <p>The main function of red blood cells is to distribute oxygen to body tissues and to carry waste carbon dioxide back to the lungs.</p>
        <p>These are used in the treatment of anaemia, cancer, premature newborns, sickle cell disease and to replace lost blood in accidents, surgery and after childbirth.</p>
      </div>
      <h4>PLASMA</h4>
      <div class="blurb">
        <p>Fresh frozen plasma is used after obstetric loss of blood (which is usually childbirth), during cardiac surgery, and to reverse any anti-coagulant treatment. It is also used to replace clotting factors after massive transfusions or when they are not being sufficiently produced, such as liver disease.</p>
        <p>Processed plasma has several important uses. It is used in the treatment of haemophilia and for treating sufferers of Christmas disease, a life-threatening form of haemophilia. Processed plasma is also used to help produce stronger antibodies against diseases like tetanus, hepatitis, chickenpox and rabies. It also helps generate anti-D, which is used for RhD negative pregnant women carrying RhD positive babies. Additionally there is a protein called albumin contained in plasma, which is extremely beneficial for burn victims.</p>
      </div>
      <h4>PLATELETS</h4>
      <div class="blurb">
        <p>Platelets can be used in bone marrow failure, post transplant and chemotherapy treatments, and leukaemia. Platelets can be of huge benefit to the recipient.</p>
      </div>
    </div>
  </div>
</section>

views/partials/aboutblood/blood-uses.jade
section.sub-header
      .container
        .row
          .sub-text.col-md-10.col-md-offset-1
            h1 About Blood
            h2 Blood is the fluid that transports oxygen and nutrients around the body. An average adult has just under 5 litres of blood circulating around their body.

section.container
  .row
    aboutnav

  .row.page-content
    .col-md-10.col-md-offset-1
          h2.title Uses of Blood
          .introduction
            h2
              | Blood collected is not just used for emergency operations or accident victims. Many patients could not survive without blood transfusions.
          h4 HOW DONATED BLOOD IS USED
          .blurb
            p The blood collected is separated into its 3 main components:
            p Red Cells
            p Plasma
            p Platelets

          h4 RED CELLS
          .blurb
            p The main function of red blood cells is to distribute oxygen to body tissues and to carry waste carbon dioxide back to the lungs.
            p These are used in the treatment of anaemia, cancer, premature newborns, sickle cell disease and to replace lost blood in accidents, surgery and after childbirth.

          h4 PLASMA
          .blurb
            p Fresh frozen plasma is used after obstetric loss of blood (which is usually childbirth), during cardiac surgery, and to reverse any anti-coagulant treatment. It is also used to replace clotting factors after massive transfusions or when they are not being sufficiently produced, such as liver disease.
            p Processed plasma has several important uses. It is used in the treatment of haemophilia and for treating sufferers of Christmas disease, a life-threatening form of haemophilia. Processed plasma is also used to help produce stronger antibodies against diseases like tetanus, hepatitis, chickenpox and rabies. It also helps generate anti-D, which is used for RhD negative pregnant women carrying RhD positive babies. Additionally there is a protein called albumin contained in plasma, which is extremely beneficial for burn victims.
          
          h4 PLATELETS
          .blurb
            p Platelets can be used in bone marrow failure, post transplant and chemotherapy treatments, and leukaemia. Platelets can be of huge benefit to the recipient.
