views/partials/templates/blood-safety.html

<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="sub-text col-md-10 col-md-offset-1">
        <h1>About Blood</h1>
        <h2>Blood is the fluid that transports oxygen and nutrients around the body. An average adult has just under 5 litres of blood circulating around their body.</h2>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <aboutnav></aboutnav>
  </div>
  <div class="row page-content">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="title">Blood Safety</h2>
      <div class="introduction">
        <h2>Several guidelines and testing procedures exist to ensure the safety of donors, recipients and the blood supply.</h2>
      </div>
      <h4>DONOR SAFETY</h4>
      <div class="blurb">
        <p>The mini physical performed by the Blood Collecting Centre before your blood donation is designed to help them spot potential problems. Sterile equipment and best practices are utilised to reduce any potential risk of infection.</p>
      </div>
      <h4>RECIPIENT SAFETY</h4>
      <div class="blurb">
        <p>Blood Collecting Centres perform a range of laboratory tests on every unit of blood donated. The tests include:</p>
        <p>ABO Blood Type</p>
        <p>Rh Groups (Positive or Negative)</p>
        <p>HIV/AIDS</p>
        <p>Hepatitis B & C</p>
        <p>Syphilis</p>
      </div>
    </div>
  </div>
</section>

views/partials/aboutblood/blood-safety.jade
section.sub-header
      .container
        .row
          .sub-text.col-md-10.col-md-offset-1
            h1 About Blood
            h2 Blood is the fluid that transports oxygen and nutrients around the body. An average adult has just under 5 litres of blood circulating around their body.

section.container
  .row
    aboutnav

  .row.page-content
    .col-md-10.col-md-offset-1
          h2.title Blood Safety
          .introduction
            h2
              | Several guidelines and testing procedures exist to ensure the safety of donors, recipients and the blood supply.
          h4 DONOR SAFETY
          .blurb
            p The mini physical performed by the Blood Collecting Centre before your blood donation is designed to help them spot potential problems. Sterile equipment and best practices are utilised to reduce any potential risk of infection.

          h4 RECIPIENT SAFETY
          .blurb
            p Blood Collecting Centres perform a range of laboratory tests on every unit of blood donated. The tests include:

            p ABO Blood Type
            p Rh Groups (Positive or Negative)
            p HIV/AIDS
            p Hepatitis B & C
            p Syphilis
