views/partials/templates/blood-faqs.html

<section class="sub-header">
  <div class="container">
    <div class="row">
      <div class="sub-text col-md-10 col-md-offset-1">
        <h1>About Blood</h1>
        <h2>Blood is the fluid that transports oxygen and nutrients around the body. An average adult has just under 5 litres of blood circulating around their body.</h2>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <aboutnav></aboutnav>
  </div>
  <div class="row page-content">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="title">FAQs</h2>
      <div class="introduction">
        <h2>Answers to your questions about blood and the blood donation process.</h2>
      </div>
      <h4>WHAT ARE THE DIFFERENT BLOOD TYPES?</h4>
      <div class="blurb">
        <p>There are two major blood type systems, the ABO system and the Rhesus (Rh factor) system. These blood systems created the 8 major blood types – O+, O-, A+, A-, B+, B-, AB+ and AB-.</p>
      </div>
      <h4>WHAT ARE THE DIFFERENT COMPONENTS OF BLOOD AND WHAT DO THEY DO?</h4>
      <div class="blurb">
        <h4>Red Cells</h4>
        <p>The main function of red blood cells is to distribute oxygen to body tissues and to carry waste carbon dioxide back to the lungs. These are used in the treatment of anaemia, cancer, premature newborns, sickle cell disease and to replace lost blood in accidents, surgery and after childbirth.</p>
        <p>Red cells are stored in a refrigerator and have a shelf life of up to 42 days.</p>
        <h4>Plasma</h4>
        <p>Plasma is the straw coloured fluid in which the red cells, white cells and platelets are suspended. Plasma is the most versatile component of blood as it can be processed into a variety of products and each product can be used to treat a number of potentially life-threatening conditions.</p>
        <p>Plasma is stored frozen and has a shelf life of up to 12 months.</p>
        <h4>Platelets</h4>
        <p>Platelets are components of blood that assist in the blood clotting process.</p>
      </div>
      <h4>HOW MUCH BLOOD IS TAKEN?</h4>
      <div class="blurb">
        <p>A single unit of blood taken during a whole blood donation is about 470mL (about a pint). This amount is less than 10% of your total blood volume. Your body keeps on replenishing blood all the time whether you give blood or not, so this amount is quickly replaced.</p>
      </div>
      <h4>HOW MUCH BLOOD DOES AN ADULT BODY HAVE?</h4>
      <div class="blurb">
        <p>An average size adult has a blood volume of about 5 litres.</p>
      </div>
      <h4>WHAT HAPPENS TO THE BLOOD ONCE I’VE DONATED?</h4>
      <div class="blurb">
        <p>Whole blood donations are separated into their components (red cells, platelets and plasma). After processing, red cells are refrigerated and can be stored for up to 42 days. Platelets are stored at room temperature and can be stored for up to 5 days. Plasma is frozen and can be stored for up to 12 months.</p>
        <p>Whilst a significant proportion of the plasma is used for direct transfusion to patients, the majority of donated plasma is further processed into a number of very important plasma products. These plasma products include immunisations against chicken pox, hepatitis B and tetanus; clotting factors for the treatment of patients with haemophilia; protein products for the treatment of patients with burns, liver and kidney diseases; and immunoglobulin products for the treatment of patients with antibody deficiencies and other disorders of the immune system.</p>
      </div>
      <h4>HOW LONG UNTIL MY BLOOD IS USED?</h4>
      <div class="blurb">  
        <p>All blood donations are tested and processed and available for use between 24 and 48 hours after collection. Whole blood is separated into its components (red cells, platelets, plasma). After processing, red cells can be stored for up to 42 days; plasma is frozen and can be stored for up to 12 months; and platelets have a shelf-life of only five days.</p>
      </div>
      <h4>WHAT IS MY BLOOD TESTED FOR?</h4>
      <div class="blurb">
        <p>After donation, all blood is tested at every donation for blood type, the presence of red cell antibodies and for the following infections: HIV1 & 2, hepatitis B & C, HTLV I & II and syphilis. Some donations are also tested for malaria depending on the donor’s answers to the questions on the donor questionnaire. </p>
      </div>
    </div>
  </div>
</section>

views/partials/aboutblood/blood-faqs.jade
section.sub-header
      .container
        .row
          .sub-text.col-md-10.col-md-offset-1
            h1 About Blood
            h2 Blood is the fluid that transports oxygen and nutrients around the body. An average adult has just under 5 litres of blood circulating around their body.

section.container
  .row
    aboutnav

  .row.page-content
    .col-md-10.col-md-offset-1
          h2.title FAQs
          .introduction
            h2
              | Answers to your questions about blood and the blood donation process.
          h4 WHAT ARE THE DIFFERENT BLOOD TYPES?
          .blurb
            p There are two major blood type systems, the ABO system and the Rhesus (Rh factor) system. These blood systems created the 8 major blood types – O+, O-, A+, A-, B+, B-, AB+ and AB-.

          h4 WHAT ARE THE DIFFERENT COMPONENTS OF BLOOD AND WHAT DO THEY DO?
          .blurb
            h4 Red Cells
            p The main function of red blood cells is to distribute oxygen to body tissues and to carry waste carbon dioxide back to the lungs. These are used in the treatment of anaemia, cancer, premature newborns, sickle cell disease and to replace lost blood in accidents, surgery and after childbirth.
            p Red cells are stored in a refrigerator and have a shelf life of up to 42 days.

            h4 Plasma
            p Plasma is the straw coloured fluid in which the red cells, white cells and platelets are suspended. Plasma is the most versatile component of blood as it can be processed into a variety of products and each product can be used to treat a number of potentially life-threatening conditions.
            p Plasma is stored frozen and has a shelf life of up to 12 months.

            h4 Platelets
            p Platelets are components of blood that assist in the blood clotting process.

          h4 HOW MUCH BLOOD IS TAKEN?
          .blurb
            p A single unit of blood taken during a whole blood donation is about 470mL (about a pint). This amount is less than 10% of your total blood volume. Your body keeps on replenishing blood all the time whether you give blood or not, so this amount is quickly replaced.

          h4 HOW MUCH BLOOD DOES AN ADULT BODY HAVE?
          .blurb
            p An average size adult has a blood volume of about 5 litres.

          h4 WHAT HAPPENS TO THE BLOOD ONCE I’VE DONATED?
          .blurb
            p Whole blood donations are separated into their components (red cells, platelets and plasma). After processing, red cells are refrigerated and can be stored for up to 42 days. Platelets are stored at room temperature and can be stored for up to 5 days. Plasma is frozen and can be stored for up to 12 months.
            p Whilst a significant proportion of the plasma is used for direct transfusion to patients, the majority of donated plasma is further processed into a number of very important plasma products. These plasma products include immunisations against chicken pox, hepatitis B and tetanus; clotting factors for the treatment of patients with haemophilia; protein products for the treatment of patients with burns, liver and kidney diseases; and immunoglobulin products for the treatment of patients with antibody deficiencies and other disorders of the immune system.

          h4 HOW LONG UNTIL MY BLOOD IS USED?
          .blurb   
            p All blood donations are tested and processed and available for use between 24 and 48 hours after collection. Whole blood is separated into its components (red cells, platelets, plasma). After processing, red cells can be stored for up to 42 days; plasma is frozen and can be stored for up to 12 months; and platelets have a shelf-life of only five days.

          h4 WHAT IS MY BLOOD TESTED FOR?
          .blurb
            p After donation, all blood is tested at every donation for blood type, the presence of red cell antibodies and for the following infections: HIV1 & 2, hepatitis B & C, HTLV I & II and syphilis. Some donations are also tested for malaria depending on the donor’s answers to the questions on the donor questionnaire. 
